# Domain Model (TypeScript)
domain-model/node_modules
domain-model/dist

# Simulator (Rust)
simulator/target
simulator/Cargo.lock
simulator/scripts/generators/target
simulator/*_output.evo
simulator/output

# Visualizer
visualizer/node_modules
visualizer/dist
visualizer/target

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
